*.pyc
*.pdf
*.zip
*.png
modules\build
modules\dist
*.dat
testing/graphics/blender-2.79b-windows64.msi
testing/THz/.ipynb_checkpoints/opt-checkpoint.ipynb
testing/THz/Simulations/~$mulations_1.docx
testing/THz/Simulations/thz_simulation.log
Simulations/THz/Simulations/log_file_0.txt
Simulations/THz/Simulations/log_file_1.txt
