body,
.card {
    background-color: #3f464c
}

.jumbotron {
    background-color: #3f464c;
    text-align: center;
}

h1,
p,
.nav-link {
    color: white
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #335880cf
}

label {
    color: white
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%
}

.normline-open {
    text-align: left;
    margin-top: 1.2rem;
    margin-left: 1.2rem
}

.pow-opendir {
    text-align: right;
}

.container {
    color: #152533;
    margin-top: 2rem;
    margin-left: 2rem;
}