body {
    background-color: rgb(230, 239, 247);
}

.jumbotron {
    background-color: rgb(230, 239, 247);
    text-align: center;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%
}

.card {
    background-color: rgb(166, 199, 226)
}

.normline-open {
    text-align: left;
    margin-top: 1.2rem;
    margin-left: 1.2rem
}

.pow-opendir {
    text-align: right;
}

.pow-main-container {
    margin: 2rem;
}